* {
  margin: 0;
  font-family: Noto Sans CJK KR Bold;
}

.shopping_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping_cart_header {
  font-size: 40px;
  font-weight: 100;
  padding: 40px;
}

.shopping_list {
  width: 1200px;
  text-align: center;
}

.shopping_list_header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 64px;
}

.shopping_list_header > div {
  text-align: center;
  font-weight: 600;
}

.menu {
  width: 58%;
}
.quantity {
  width: 12%;
}
.price {
  width: 15%;
}
.change,
.cancel {
  width: 7.5%;
}

.shopping_item {
  display: flex;
  align-items: center;
  height: 240px;
  padding: 20px 30px;
  border-bottom: 1px solid #e5e5e5;
}

.shopping_item > .menu {
  display: flex;
  text-align: left;
  width: 57%;
}
.shopping_item > .quantity {
  width: 16%;
  display: flex;
  justify-content: center;
}
.shopping_item > .price {
  width: 12%;
  font-size: 18px;
  font-weight: 600;
}
.shopping_item > .change {
  display: flex;
  width: 12%;
  justify-content: center;
}
.shopping_item > .cancel {
  width: 3.3%;
  text-align: end;
  cursor: pointer;
}

.quantity > div {
  font-size: 22px;
  font-weight: 600;
  width: 50px;
  line-height: 40px;
}

.menu_img {
  width: 200px;
  height: 200px;
}

.menu_info {
  padding: 30px;
  font-weight: 600;
}

.menu_name {
  font-size: 18px;
}

.menu_option {
  margin: 10px 0px;
}

.menu_option > span {
  color: #fff;
  background: #666;
  border-radius: 14px;
  padding: 5px 12px;
}

.blue_btn {
  background: #41b6e6;
  height: 38px;
  line-height: 38px;
  width: 96px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.change > .blue_btn {
  width: 80px;
}

.option_change {
  margin-top: 60px;
}

.minus_btn,
.plus_btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.shopping_list_total {
  position: relative;
  padding: 50px 30px;
  margin-top: 100px;
  border-bottom: 1px solid black;
  color: #41b6e6;
  line-height: 22px;
}

.total {
  position: absolute;
  font-size: 22px;
  left: 30px;
}

.cost {
  position: absolute;
  font-size: 18px;
  right: 30px;
}

.cost > span {
  font-size: 28px;
  font-weight: 600;
}

.order {
  width: 400px;
  height: 64px;
  line-height: 64px;
  margin-top: 40px;
  float: right;
}
